/Problems/
/course-info.yaml
/course-remote-info.yaml
/requirements.txt
/.idea/
/Tic-Tac-Toe/Fight_/
/Tic-Tac-Toe/First move_/
/Tic-Tac-Toe/The user is the gamemaster/
/Tic-Tac-Toe/Welcome to the battlefield_/
/Tic-Tac-Toe/What's up on the field/
/Tic-Tac-Toe/lesson-info.yaml
/Tic-Tac-Toe/task/tests.py
/backup/
